      <div class="row">
        <div class="col-sm-3" style="background-color:#ffff66;">
          <div class="label" id="home">
            Confirmed
          </div>
          <div class="value" id="homeVal">
            {{totalConfirmed}}
          </div>
        </div>
        <div class="col-sm-3" style="background-color:#4dff4d;">
          <div class="label" id="home">
            Recovered
          </div>
          <div class="value" id="homeVal">
            {{totalRecovered}}
          </div>
        </div>
        <div class="col-sm-3" style="background-color:#ff3333;">
          <div class="label" id="home">
            Deths
          </div>
          <div class="value" id="homeVal">
            {{totalDeaths}}
          </div>
        </div>
        <div class="col-sm-3" style="background-color:#6666ff;">
          <div class="label" id="home">
            Active
          </div>
          <div class="value" id="homeVal">
            {{totalActive}}
          </div>
        </div>
      </div>